APP_NAME=FASTMP3FAST Python API
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8001
APP_SECRET=change-me-fastmp3fast
ADMIN_USER=antonio
ADMIN_EMAIL=antonio@fastmp3fast.local
ADMIN_PASSWORD=corazon321
TOKEN_TTL_HOURS=24
YT_DLP_BIN=yt-dlp
YT_DLP_COOKIES_FILE=
YT_DLP_PROXY=
YT_DLP_FORCE_IPV4=true
YT_DLP_REMOTE_COMPONENTS=ejs:github
FFMPEG_BIN=ffmpeg
DATA_DIR=./data
DOWNLOADS_DIR=./data/downloads
SUBTITLES_DIR=./data/subtitles
